<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/yuce2.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        河南省大学生就业数据分析平台
      </div>
      <div class="box-1 angle">
        <div class="title">
          毕业生情况
        </div>
      </div>
      <div class="box-2 angle">
        <div class="title">
          毕业生情况
        </div>
      </div>
      <div class="box-3 angle">
        <div class="title">
          毕业生情况
        </div>
      </div>
      <div class="box-4 angle">
        <div class="title">
          毕业生情况
        </div>
      </div>
      <div class="box-5 angle">
        <div class="title">
          毕业生情况
        </div>
      </div>
    </div>
  </body>
</html>
